.media-player {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__video {
    max-width: 100%;
    max-height: 50vh;
    width: auto;
    height: auto;
  }
  
  &__audio {
    width: 90%;
    max-width: 500px;
    margin: 16px 0;
  }
}
